<mat-sidenav-container class="sidenav-container">
    <div class="container">

        <h4 align="center" class="title-padding">{{title}}</h4>
        <mat-card>
            <mat-grid-list cols="4" rowHeight="4:1">
                <mat-grid-tile [colspan]="1">
                    <mat-form-field class="full-width">
                        <input matInput autocomplete="off" type='text' placeholder='Filter by Bill No' [(ngModel)]="filterBillNo" />
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile *ngIf="title == 'Purchase'" [colspan]="1">
                    <mat-form-field class="full-width">
                        <input matInput autocomplete="off" type='text' placeholder='Filter by supplier' [(ngModel)]="filterSupplier" />
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile *ngIf="title == 'Sales'" [colspan]="1">
                    <mat-form-field class="full-width">
                        <input matInput autocomplete="off" type='text' placeholder='Filter by Customer' [(ngModel)]="filterCustomer" />
                    </mat-form-field>
                </mat-grid-tile>

            </mat-grid-list>
            <date-filter (fetchRecordEvent)="fetchRecordsByDate($event)" cols="4" rowHeight="4:1" colspan="1"></date-filter>
        </mat-card>
        <hr *ngIf="!tableLoadingIndicator" />
        <mat-progress-bar *ngIf="tableLoadingIndicator" class="buffer-indicator" mode="indeterminate"></mat-progress-bar>
        <ngx-datatable style="height: 350px;" class="material" [rows]="records" [columnMode]="'force'" [scrollbarV]="true" [sortType]="'single'"
            [headerHeight]="30" [footerHeight]="30" [rowHeight]="30" [limit]="10" (page)="onPageChange($event)">

            <!-- <ngx-datatable style="height: 380px;" #recordTable [limit]="6" [scrollbarV]="true" class="material" [rows]="selectedItems"
            [columnMode]="'force'" [headerHeight]="40" [footerHeight]="40" [rowHeight]="45" [selected]="checkedItems" [selectionType]="'checkbox'"
            (select)='onSelect($event)'> -->

            <ngx-datatable-column prop="BillNo" name="Bill Number"></ngx-datatable-column>
            <ngx-datatable-column prop="BillDate" name="Bill Date">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{value | date:'mediumDate'}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column *ngIf="title == 'Purchase'" prop="Supplier" name="Supplier"></ngx-datatable-column>
            <ngx-datatable-column *ngIf="title == 'Sales'" prop="Customer" name="Customer"></ngx-datatable-column>
            <ngx-datatable-column *ngIf="title == 'Purchase'" prop="Purchase_amt" name="Purchase Amt"></ngx-datatable-column>
            <ngx-datatable-column *ngIf="title == 'Sales'" prop="Sales_amt" name="Sales Amt"></ngx-datatable-column>
            <ngx-datatable-column prop="Items" name="Items"></ngx-datatable-column>
            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    <a routerLink="." matTooltip="Delete record" (click)="deleteRecord(row.Id)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    <a routerLink="." matTooltip="View record" (click)="viewRecord(row)">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    <a routerLink="." matTooltip="Click to edit Record" (click)="editRecord(row.Id)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <!-- <button mat-icon-button>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button> -->
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template>
                    <div style="width:100%">
                        <div class="col-md-2">
                            <h6>Total no of records: </h6>
                        </div>
                        <div class="col-md-3">
                            <!-- <input disabled [(ngModel)]="billAmount" class="form-control"> -->
                            <h6>{{totalNoOfRecords}}</h6>
                        </div>
                    </div>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </div>
    <mat-sidenav position="end" mode="push" #sidenav class="viewRecord">
        <div style="padding-bottom:5px;">
            <button style="float:right" mat-icon-button color="warn" (click)="sidenav.close()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <h3>View Record</h3>
        </div>
        <peek-record [billId]="view_Id" [billNo]="view_BillNo" [billDate]="view_BillDate" [supplier]="view_Supplier" [customer]="view_Customer"
            [billAmt]="view_BillAmt" (deleteRecordEvent)="deleteRecord($event)" (editRecordEvent)="editRecord($event)" [rows]="peek_recordItems"></peek-record>
    </mat-sidenav>
</mat-sidenav-container>